{% extends "base.html" %}


{% block head %}
    <title>Banking System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home_styles.css') }}">
{% endblock %}

{% block body %}
    <div id="nav_bar">
        <div class="nav">
            <!-- This is the navigation bar: add here any more links -->
            <a class="" id="deposit" href="http://localhost:5000/deposit"></br>Make a Deposit</a>
            <a class="" id="withdraw" href="http://localhost:5000/withdraw"></br>Make a Withdrawal</a>
            <a class="" id="log" href="http://localhost:5000/Operations_Log"></br>Watch Account Movements</a>
        </div>
    </div>
    <h3>Hi! {{ user_name }}, You Are Now Logged In :) </h3></br>
{% endblock %}