{% extends "base.html" %}


{% block head %}
    <title>Banking System</title>
{% endblock %}

{% block body %}
    <h3>Hi! {{ user_name }}, You Are Now Logged In :) </h3></br>
    <div id="nav_bar">
        <div class="nav">
            <!-- This is the navigation bar: add here any more links -->
            <a class="active" id="deposit" href="http://localhost:5000/deposit"></br>Make a Deposit</a>
            <a class="active" id="withdraw" href="http://localhost:5000/withdraw"></br>Make a Withdrawal</a>
            <a class="active" id="log" href="http://localhost:5000/log"></br>Watch Account Movements</a>
        </div>
    </div>
{% endblock %}