<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login: </title>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_styles.css') }}">

    <div id="nav_bar">
        <div class="nav">
            <!-- This is the navigation bar: add here any more links -->
            <a class="" id="nav_deposit" href=""></br>Make a Deposit</a>
            <a class="" id="nav_withdraw" href=""></br>Make a Withdrawal</a>
            <a class="" id="nav_log" href=""></br>Watch Account Movements</a>
        </div>
    </div>
</head>
<body>
    <div id="header">
        <h1 id="h1"><a href="http://localhost:5000/">Banking System</a></h1>
    </div>
    <div class="signIn" >
<!--        style="position: absolute; left: 50%; margin-left: -100px"-->
        <h3><strong><u>Sign in:</u></strong></h3>
        <form method="POST">
            <label for="username">Username:</label></t>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label></t>
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>
        <p style="  position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;">
        Created by: Itay Grinberg & Amit Inbar &copy;</p>
    </footer>
</body>
</html>
